# PSRAM aktivieren (OPI-Modus für Sunton Board)
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_120M=y
CONFIG_SPIRAM_BOOT_INIT=y

# Flash-Größe auf 16MB setzen (Board-Standard)
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

# C++17 oder höher erzwingen (Optional, für modernes C++)
CONFIG_COMPILER_CXX_EXCEPTIONS=y

#stack erhoehen
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
